[submodule "Drivers/CMSIS/Device/ST/STM32L1xx"]
	path = Drivers/CMSIS/Device/ST/STM32L1xx
	url = https://github.com/STMicroelectronics/cmsis_device_l1.git
	branch = master
[submodule "Drivers/STM32L1xx_HAL_Driver"]
	path = Drivers/STM32L1xx_HAL_Driver
	url = https://github.com/STMicroelectronics/stm32l1xx_hal_driver.git
	branch = master
[submodule "Drivers/BSP/STM32L1xx_Nucleo"]
	path = Drivers/BSP/STM32L1xx_Nucleo
	url = https://github.com/STMicroelectronics/stm32l1xx-nucleo-bsp.git
	branch = main
[submodule "Drivers/BSP/STM32L152D_EVAL"]
	path = Drivers/BSP/STM32L152D_EVAL
	url = https://github.com/STMicroelectronics/stm32l152d-eval-bsp.git
	branch = main
[submodule "Drivers/BSP/STM32L152C-Discovery"]
	path = Drivers/BSP/STM32L152C-Discovery
	url = https://github.com/STMicroelectronics/32l152cdiscovery-bsp.git
	branch = main
[submodule "Drivers/BSP/STM32L100C-Discovery"]
	path = Drivers/BSP/STM32L100C-Discovery
	url = https://github.com/STMicroelectronics/32l100cdiscovery-bsp.git
	branch = main
[submodule "Drivers/BSP/Components/Common"]
	path = Drivers/BSP/Components/Common
	url = https://github.com/STMicroelectronics/stm32-bsp-common.git
	branch = main
[submodule "Drivers/BSP/Components/cs43l22"]
	path = Drivers/BSP/Components/cs43l22
	url = https://github.com/STMicroelectronics/stm32-cs43l22.git
	branch = main
[submodule "Drivers/BSP/Components/hx8347d"]
	path = Drivers/BSP/Components/hx8347d
	url = https://github.com/STMicroelectronics/stm32-hx8347d.git
	branch = main
[submodule "Drivers/BSP/Components/ili9320"]
	path = Drivers/BSP/Components/ili9320
	url = https://github.com/STMicroelectronics/stm32-ili9320.git
	branch = main
[submodule "Drivers/BSP/Components/ili9325"]
	path = Drivers/BSP/Components/ili9325
	url = https://github.com/STMicroelectronics/stm32-ili9325.git
	branch = main
[submodule "Drivers/BSP/Components/spfd5408"]
	path = Drivers/BSP/Components/spfd5408
	url = https://github.com/STMicroelectronics/stm32-spfd5408.git
	branch = main
[submodule "Drivers/BSP/Components/st7735"]
	path = Drivers/BSP/Components/st7735
	url = https://github.com/STMicroelectronics/stm32-st7735.git
	branch = main
[submodule "Drivers/BSP/Components/stlm75"]
	path = Drivers/BSP/Components/stlm75
	url = https://github.com/STMicroelectronics/stm32-stlm75.git
	branch = main
[submodule "Middlewares/Third_Party/FatFs"]
	path = Middlewares/Third_Party/FatFs
	url = https://github.com/STMicroelectronics/stm32-mw-fatfs
	branch = master
[submodule "Middlewares/Third_Party/FreeRTOS"]
	path = Middlewares/Third_Party/FreeRTOS
	url = https://github.com/STMicroelectronics/stm32-mw-freertos
	branch = master
[submodule "Middlewares/ST/STM32_USB_Device_Library"]
	path = Middlewares/ST/STM32_USB_Device_Library
	url = https://github.com/STMicroelectronics/stm32-mw-usb-device
	branch = master
[submodule "Middlewares/ST/STM32_TouchSensing_Library"]
	path = Middlewares/ST/STM32_TouchSensing_Library
	url = https://github.com/STMicroelectronics/stm32-mw-touchsensing
	branch = main
